image: your-docker-image-name
stages:
  - test
cache:
  paths:
    - .gradle/wrapper
    - .gradle/caches
testDebug:
  stage: test
  before_script:
    - chmod +x ./gradlew
    - export GRADLE_USER_HOME=$PWD/.gradle
  script:
    - ./gradlew test
stages:
  - test
cache:
  paths:
    - .gradle/wrapper
    - .gradle/caches
lintDebug:
  stage: test
  before_script:
    - chmod +x ./gradlew
    - export GRADLE_USER_HOME=$PWD/.gradle
  script:
    - ./gradlew lintDebug